@import url('./reset.css') layer(reset);

@layer reset, base, typography, theme, components, utilities, animations, viewtransition, scrollanimation;

:root {
	--gap: clamp(2rem, 1vw, 3rem);
	--full: minmax(var(--gap), 1fr);
	--content: calc(100% - var(--gap) * 2);

	color-scheme: dark light;

	background-color: var(--color-background);
	color: var(--color-text);

	--outline: 2px solid var(--color-active);
	--outline-offset: 2px;

	--font-base: 'BespokeSerif', serif;

	--bespoke-serif-variable-light-aalt: 'aalt' off;
	--bespoke-serif-variable-light-frac: 'frac' off;
	--bespoke-serif-variable-light-ordn: 'ordn' off;
	--bespoke-serif-variable-light-salt: 'salt' off;
	--bespoke-serif-variable-light-sups: 'sups' off;

	font-feature-settings: var(--bespoke-serif-variable-light-aalt),
		var(--bespoke-serif-variable-light-frac), var(--bespoke-serif-variable-light-ordn),
		var(--bespoke-serif-variable-light-salt), var(--bespoke-serif-variable-light-sups);

	--h1-base: 2rem;
	--font-size-fluid: 1cqi;

	scroll-behavior: smooth;
}

@layer base {
	body {
		--header-height: 0;
		display: grid;
		grid-template-columns:
			[full-start] var(--full) [content-start] var(--content)
			[content-end] var(--full) [full-end];
		grid-template-rows: var(--header-height) 1fr;
	}
}

@layer components {
	button {
		--_color-button-bg: var(--color-button-default-bg);
		--_color-button-text: var(--color-button-default-text);
		--_color-button-active: var(--color-button-default-active);

		border: 0;
		padding: 0.25em 1.375em;
		color: var(--_color-button-text);
		background-color: var(--_color-button-bg);
		border-radius: 6px;
		line-height: 1.2;
		/* Fast appearance */
		transition: outline 50ms ease-in;

		&:focus {
			outline: 2px solid var(--_color-button-active);
		}

		&:focus-visible {
			outline: 2px solid var(--_color-button-bg);
			outline-offset: var(--outline-offset);
		}
	}

	textarea {
		--_color-input-border: var(--color-input-border);
		resize: none;
		padding-inline: 1rem;
		box-shadow: -2px 0 0 0 var(--_color-input-border);

		&:focus {
			--_color-input-border: transparent;
		}
	}

	input,
	textarea {
		&:focus-visible {
			outline: var(--outline);
			outline-offset: var(--outline-offset);
		}

		color: inherit;
		width: 100%;
		background: none;
		border: none;
		outline-offset: var(--outline-offset);
	}

	input[type='date'] {
		--_color-input-border: var(--color-input-border);
		box-shadow: 0 2px 0 0 var(--_color-input-border);
		&:focus {
			--_color-input-border: transparent;
		}
	}

	input {
		&[type='checkbox'] {
			--_checkmark-animation-duration: 400ms;
			--_tada-animation-duration: 500ms;
			appearance: none;
			/* For iOS < 15 */
			background-color: var(--color-background);
			/* Not removed via appearance */
			margin: 0;

			font: inherit;
			color: currentColor;
			width: 1.125em;
			height: 1.125em;
			border: 0.15em solid currentColor;
			border-radius: 0.25em;

			display: grid;
			place-content: center;
			position: relative;

			&:before {
				content: '';
				width: 0.65em;
				height: 0.65em;
				clip-path: polygon(22% 48%, 14% 59%, 46% 84%, 90% 30%, 78% 20%, 44% 63%);
				/* Windows High Contrast Mode */
				background-color: CanvasText;
				transform: scale(0);
			}

			&:after {
				--_base-color: var(--color-checkbox-tada);
				--_tada-color-n: hsl(from var(--_base-color) calc(h + 0) s l);
				--_tada-color-ne: hsl(from var(--_base-color) calc(h + 270) s l);
				--_tada-color-e: hsl(from var(--_base-color) calc(h + 90) s l);
				--_tada-color-se: hsl(from var(--_base-color) calc(h + 180) s l);
				--_tada-color-s: hsl(from var(--_base-color) calc(h + 135) s l);
				--_tada-color-sw: hsl(from var(--_base-color) calc(h + 225) s l);
				--_tada-color-w: hsl(from var(--_base-color) calc(h + 45) s l);
				--_tada-color-nw: hsl(from var(--_base-color) calc(h + 315) s l);
				content: '';
				position: absolute;
				top: 0.25em;
				left: 0.25em;
				width: 0.3125em;
				height: 0.3125em;
				border-radius: 0.125em;
				box-shadow:
					0 -1.125em 0 var(--_tada-color-n, var(--_base-color)),
					0.75em -0.75em 0 var(--_tada-color-ne, var(--_base-color)),
					1.125em 0 0 var(--_tada-color-e, var(--_base-color)),
					0.75em 0.75em 0 var(--_tada-color-se, var(--_base-color)),
					0 1.125em 0 var(--_tada-color-s, var(--_base-color)),
					-0.75em 0.75em 0 var(--_tada-color-sw, var(--_base-color)),
					-1.125em 0 0 var(--_tada-color-w, var(--_base-color)),
					-0.75em -0.75em 0 var(--_tada-color-nw, var(--_base-color));
				transform: scale(0);
			}

			&:checked {
				transition: background-color var(--_checkmark-animation-duration) ease;
				background-color: var(--color-muted);
				&:before {
					transition: transform var(--_checkmark-animation-duration) ease;
					background-color: var(--color-background);
					transform: scale(1);
				}

				&:after {
					transition:
						transform var(--_tada-animation-duration) ease,
						opacity var(--_tada-animation-duration) ease;
					transform: scale(1);
					opacity: 0;
				}
			}
		}
	}
}

@layer typography {
	body {
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-family: var(--font-base);
		font-size: 1rem;
		line-height: 1.75;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-weight: 700;
		line-height: 1.1;
		/* Better matching to fallback font */
		font-size-adjust: 0.53;
	}

	h1 {
		font-weight: 700;
		--font-size-base: var(--h1-base);
	}

	@supports (font-size: 1cqi) {
		:is(h1) {
			font-size: calc(var(--font-size-base) + var(--font-size-fluid, 1cqi));
		}
	}
}

@layer utilities {
	.bold {
		font-weight: 700;
	}

	.light {
		font-weight: 300;
	}
}

@layer customproperty {
	@property --background-size {
		syntax: '<percentage>';
		inherits: true;
		initial-value: 0%;
	}
}

@layer animations {
	@keyframes background-reveal {
		to {
			--background-size: 100%;
		}
	}
}

@layer theme {
	:root {
		--blue-50: #ebf8ff;
		--blue-100: #cfedff;
		--blue-200: #b4e4ff;
		--blue-300: #96daff;
		--blue-400: #74cfff;
		--blue-500: #4bc5ff;
		--blue-600: #389fd0;
		--blue-700: #246f92;
		--blue-800: #124056;
		--blue-900: #11181c;

		--dark-50: #f5f5f5;
		--dark-100: #e8e8e8;
		--dark-200: #dcdcdc;
		--dark-300: #cfcfcf;
		--dark-400: #c3c3c3;
		--dark-500: #b7b7b7;
		--dark-600: #939393;
		--dark-700: #666666;
		--dark-800: #3b3b3b;
		--dark-900: #181818;

		--color-active: var(--dark-50);
		--color-muted: var(--dark-800);

		--color-background: var(--blue-900);
		--color-text: var(--color-active);
		--color-text-muted: var(--color-muted);
		--color-text-highlighted: var(--blue-500);

		--color-button-default-text: var(--dark-900);
		--color-button-default-bg: var(--dark-200);
		--color-button-default-active: var(--blue-600);

		--color-border: var(--color-active);
		--color-border-muted: var(--color-muted);

		--color-modal-background: var(--color-background);
		--color-modal-border: var(--dark-300);
		--color-modal-box-shadow: var(--blue-600);

		--color-input-border: var(--dark-600);
		--color-input-active: var(--color-active);

		--color-checkbox-tada: var(--blue-500);
	}
}
