@import url('./reset.css') layer(reset);

@layer reset, base, typography, theme, components, utilities, animations, viewtransition, customproperty, scrollanimation;

:root {
	--gap: clamp(2rem, 1vw, 3rem);
	--full: minmax(var(--gap), 1fr);
	--content: calc(100% - var(--gap) * 2);

	color-scheme: dark light;

	background-color: var(--color-background);
	color: var(--color-text);

	--outline: 2px solid currentColor;
	--outline-offset: 2px;

	--font-base: 'BespokeSerif', serif;

	--bespoke-serif-variable-light-aalt: 'aalt' off;
	--bespoke-serif-variable-light-frac: 'frac' off;
	--bespoke-serif-variable-light-ordn: 'ordn' off;
	--bespoke-serif-variable-light-salt: 'salt' off;
	--bespoke-serif-variable-light-sups: 'sups' off;

	font-feature-settings: var(--bespoke-serif-variable-light-aalt),
		var(--bespoke-serif-variable-light-frac), var(--bespoke-serif-variable-light-ordn),
		var(--bespoke-serif-variable-light-salt), var(--bespoke-serif-variable-light-sups);

	--h1-base: 2rem;
	--font-size-fluid: 1cqi;
}

@layer base {
	body {
		--header-height: 0;
		display: grid;
		grid-template-columns:
			[full-start] var(--full) [content-start] var(--content)
			[content-end] var(--full) [full-end];
		grid-template-rows: var(--header-height) 1fr;
	}
}

@layer components {
	button {
		--_color-button-bg: var(--color-button-default-bg);
		--_color-button-text: var(--color-button-default-text);

		border: 0;
		padding: 0.25em 1.375em;
		color: var(--_color-button-text);
		background-color: var(--_color-button-bg);
		border-radius: 6px;
		line-height: 1.2;

		&:focus-visible {
			outline: 2px solid var(--_color-button-bg);
			outline-offset: var(--outline-offset);
		}
	}

	input {
		&:focus-visible {
			outline: 2px solid currentColor;
			outline-offset: var(--outline-offset);
		}

		&[type='checkbox'] {
			appearance: none;
			/* For iOS < 15 */
			background-color: var(--color-background);
			/* Not removed via appearance */
			margin: 0;

			font: inherit;
			color: currentColor;
			width: 1.125em;
			height: 1.125em;
			border: 0.15em solid currentColor;
			border-radius: 0.25em;

			display: grid;
			place-content: center;

			&:before {
				content: '';
				width: 0.65em;
				height: 0.65em;
				clip-path: polygon(22% 48%, 14% 59%, 46% 84%, 90% 30%, 78% 20%, 44% 63%);
				/* Windows High Contrast Mode */
				background-color: CanvasText;
			}

			&:checked {
				background-color: var(--color-muted);
				&:before {
					background-color: var(--color-background);
				}
			}
		}
	}
}

@layer typography {
	body {
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-family: var(--font-base);
		font-size: 1rem;
		line-height: 1.75;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-weight: 700;
		line-height: 1.1;
		/* Better matching to fallback font */
		font-size-adjust: 0.53;
	}

	h1 {
		font-weight: 700;
		--font-size-base: var(--h1-base);
	}

	@supports (font-size: 1cqi) {
		:is(h1) {
			font-size: calc(var(--font-size-base) + var(--font-size-fluid, 1cqi));
		}
	}
}

@layer utilities {
	.bold {
		font-weight: 700;
	}

	.light {
		font-weight: 300;
	}
}

@layer theme {
	:root {
		--color-active: #fff;
		--color-muted: oklch(43.43% 0.009 229.04);

		--color-background: oklch(20.38% 0.013 233.32);
		--color-text: var(--color-active);
		--color-text-muted: var(--color-muted);

		--color-button-default-text: #000;
		--color-button-default-bg: oklch(88.53% 0 0);

		--color-border: var(--color-active);
		--color-border-muted: var(--color-muted);
	}
}
